# Pulling SF Tree Data
----

In [48]:
# Endpoint for requesting SF tree data: https://data.sfgov.org/resource/tkzw-k3nq.json
# Sample URL format for including an app token: https://data.seattle.gov/resource/3k2p-39jp.json?$$app_token=APP_TOKEN

In [1]:
# Dependencies
import json
import requests
import pandas as pd
import pprint as pp
from config import api_key
from config import app_token
import numpy as np

In [2]:
#Set the base URL
baseURL = "https://data.sfgov.org/resource/tkzw-k3nq.json"

In [3]:
# Pull data
URL = baseURL + "?$limit=193000&$offset=0" + "&$$app_token=" + app_token
response = requests.get(URL).json()
print("Pull Complete")

Pull Complete

In [4]:
len(response)

192559

In [5]:
# Convert JSON into DF
response_df = pd.DataFrame(response)
response_df.head()

,treeid,qlegalstatus,qspecies,qaddress,siteorder,qsiteinfo,planttype,qcaretaker,dbh,plotsize,xcoord,ycoord,latitude,longitude,location,plantdate,permitnotes,qcareassistant
0,196949,DPW Maintained,Pyrus calleryana :: Ornamental Pear,9 Young Ct,1,Sidewalk: Curb side : Cutout,Tree,Private,16,Width 3ft,6016267.25355,2096084.36716,37.7363616200932,-122.38620200123,"{'type': 'Point', 'coordinates': [-122.3862020...",NaN,NaN,NaN
1,203422,DPW Maintained,Acer rubrum :: Red Maple,9 Yerba Buena Ave,1,Sidewalk: Curb side : Yard,Tree,Private,2,Width 4ft,5993354.86667,2097295.22775,37.738391538344,-122.465506999949,"{'type': 'Point', 'coordinates': [-122.4655069...",NaN,NaN,NaN
2,115737,Significant Tree,Acer rubrum :: Red Maple,9x Yerba Buena Ave,1,Sidewalk: Curb side : Cutout,Tree,Private,3,NaN,5993642.27748,2097056.19499,37.7377517864641,-122.46449593033,"{'type': 'Point', 'coordinates': [-122.4644959...",2016-02-24T00:00:00.000,Permit Number 776557,NaN
3,16470,DPW Maintained,Eucalyptus sideroxylon :: Red Ironbark,9X Newhall St,4,Sidewalk: Curb side : Cutout,Tree,DPW,12,3X3,6018697.2048701,2097076.1109207,37.7392189485182,-122.377869364283,"{'type': 'Point', 'coordinates': [-122.3778693...",NaN,NaN,NaN
4,16475,DPW Maintained,Eucalyptus nicholii :: Nichol's Willow-Leafed ...,9X Newhall St,9,Sidewalk: Curb side : Cutout,Tree,DPW,18,3X3,6018697.2048701,2097076.1109207,37.7392189485182,-122.377869364283,"{'type': 'Point', 'coordinates': [-122.3778693...",NaN,NaN,NaN

In [6]:
# Create a new DF with just the relevant fields:
trees_df = {}
trees_df = pd.DataFrame(trees_df)
trees_df[['Tree ID', 'Species', 'Latitude', 'Longitude', 'Date Planted']] = response_df[['treeid', 'qspecies', 'latitude', 'longitude', 'plantdate']]
trees_df.head()

,Tree ID,Species,Latitude,Longitude,Date Planted
0,196949,Pyrus calleryana :: Ornamental Pear,37.7363616200932,-122.38620200123,NaN
1,203422,Acer rubrum :: Red Maple,37.738391538344,-122.465506999949,NaN
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016-02-24T00:00:00.000
3,16470,Eucalyptus sideroxylon :: Red Ironbark,37.7392189485182,-122.377869364283,NaN
4,16475,Eucalyptus nicholii :: Nichol's Willow-Leafed ...,37.7392189485182,-122.377869364283,NaN

# Data cleansing

In [7]:
# Drop any rows containing "NaN"
treesCleansed = trees_df.dropna(how='any')
treesCleansed

,Tree ID,Species,Latitude,Longitude,Date Planted
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016-02-24T00:00:00.000
9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.7392189485182,-122.377869364283,1997-05-16T00:00:00.000
14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31T00:00:00.000
15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31T00:00:00.000
16,12977,Maytenus boaria :: Mayten,37.7699053099025,-122.436179442539,1990-03-26T00:00:00.000
...,...,...,...,...,...
192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.7690249659747,-122.437947368595,2007-05-17T00:00:00.000
192485,34308,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14T00:00:00.000
192507,34317,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14T00:00:00.000
192528,45381,Lophostemon confertus :: Brisbane Box,37.7928819736725,-122.480907237859,2001-07-06T00:00:00.000
192538,93931,Pinus Spp :: Pine Spp,37.7207489795508,-122.475342064841,2010-04-28T00:00:00.000

In [8]:
# Drop any rows with an unknown species
treesCleansed = treesCleansed[treesCleansed.Species != "Tree(s) ::"]
treesCleansed

,Tree ID,Species,Latitude,Longitude,Date Planted
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016-02-24T00:00:00.000
9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.7392189485182,-122.377869364283,1997-05-16T00:00:00.000
14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31T00:00:00.000
15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31T00:00:00.000
16,12977,Maytenus boaria :: Mayten,37.7699053099025,-122.436179442539,1990-03-26T00:00:00.000
...,...,...,...,...,...
192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.7690249659747,-122.437947368595,2007-05-17T00:00:00.000
192485,34308,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14T00:00:00.000
192507,34317,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14T00:00:00.000
192528,45381,Lophostemon confertus :: Brisbane Box,37.7928819736725,-122.480907237859,2001-07-06T00:00:00.000
192538,93931,Pinus Spp :: Pine Spp,37.7207489795508,-122.475342064841,2010-04-28T00:00:00.000

In [9]:
#Remove the Time from the end of the Date column
cleanDate = treesCleansed 
cleanDate['Date Planted'] = treesCleansed['Date Planted'].map(lambda x: x.rstrip('T00:00:00.000'))
cleanDate

C:\Users\mahlo\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Tree ID,Species,Latitude,Longitude,Date Planted
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016-02-24
9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.7392189485182,-122.377869364283,1997-05-16
14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31
15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31
16,12977,Maytenus boaria :: Mayten,37.7699053099025,-122.436179442539,1990-03-26
...,...,...,...,...,...
192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.7690249659747,-122.437947368595,2007-05-17
192485,34308,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14
192507,34317,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14
192528,45381,Lophostemon confertus :: Brisbane Box,37.7928819736725,-122.480907237859,2001-07-06
192538,93931,Pinus Spp :: Pine Spp,37.7207489795508,-122.475342064841,2010-04-28

In [10]:
# Pull Date Planted into a series
testSeries = cleanDate['Date Planted']

In [11]:
# Convert the hyphen in Date Planted into null
yearPlanted = []
for i in testSeries:
    yearPlanted.append(i.replace('-', ''))
yearPlanted

['20160224',
 '19970516',
 '20121231',
 '20121231',
 '19900326',
 '20080212',
 '20180207',
 '20180207',
 '19950313',
 '19980217',
 '20180118',
 '20180118',
 '19921215',
 '20020525',
 '20010612',
 '19841207',
 '20000318',
 '19860923',
 '1993052',
 '20151229',
 '1996101',
 '19830202',
 '1992043',
 '20051212',
 '20010719',
 '19770831',
 '20060311',
 '19790713',
 '20090708',
 '19830618',
 '20160205',
 '19930426',
 '20040408',
 '20000623',
 '20000623',
 '19861205',
 '19971218',
 '19971218',
 '19971218',
 '19971218',
 '19970707',
 '19970707',
 '19970707',
 '19970707',
 '20020626',
 '20190917',
 '19961211',
 '20190917',
 '19970529',
 '20180521',
 '20180521',
 '1995052',
 '1995052',
 '1995052',
 '20020429',
 '20020429',
 '1995052',
 '20051214',
 '20051214',
 '20051214',
 '20051214',
 '1992061',
 '19821124',
 '20020919',
 '20020919',
 '20020919',
 '20180109',
 '19961029',
 '20160208',
 '20160208',
 '20160208',
 '20160208',
 '20160208',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20151231',
 '20091101',
 '20091101',
 '20080501',
 '20000128',
 '20060311',
 '20151123',
 '20151123',
 '20091101',
 '20091101',
 '20091101',
 '1996101',
 '2018033',
 '2018033',
 '2018033',
 '2018033',
 '20140415',
 '20140415',
 '20100605',
 '20111224',
 '20010101',
 '20100605',
 '20100605',
 '20100605',
 '20100605',
 '20100605',
 '20100605',
 '20151228',
 '19980522',
 '19980522',
 '19980522',
 '19980522',
 '19980522',
 '20000619',
 '20000619',
 '20000619',
 '20000619',
 '20130102',
 '20130102',
 '20100211',
 '20060211',
 '20150219',
 '20180122',
 '19921119',
 '19950216',
 '20070301',
 '19950216',
 '20070301',
 '19950216',
 '20070301',
 '19950216',
 '19950216',
 '19950216',
 '20070301',
 '19950216',
 '20070301',
 '20070301',
 '20190726',
 '20190726',
 '2014123',
 '20181110T04:52',
 '20110803',
 '19980323',
 '20110706',
 '20091217',
 '20130529',
 '20091101',
 '20091101',
 '20051214',
 '19970705',
 '19970705',
 '20020622',
 '19980615',
 '19980615',
 '19980615',
 '2015021',
 '19980427',
 '20020402',
 '20020402',
 '19900904',
 '20060311',
 '20040212',
 '20060311',
 '19920908',
 '19970715',
 '19970715',
 '19970523',
 '19970523',
 '20150307',
 '20150307',
 '19961101',
 '19961101',
 '20080118',
 '20080118',
 '20080118',
 '20010317',
 '20080118',
 '20000128',
 '20000128',
 '20080118',
 '20080118',
 '20080118',
 '20080309',
 '20081212',
 '20090122',
 '20090122',
 '20090122',
 '20050304',
 '19990513',
 '20010201',
 '20010201',
 '20010201',
 '20010201',
 '20010201',
 '20010201',
 '20010201',
 '20070301',
 '20050304',
 '20020621',
 '20091101',
 '20091101',
 '20091101',
 '20061014',
 '20021026',
 '19950626',
 '19970618',
 '19890913',
 '20140602',
 '20031231',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '20110902',
 '2008071',
 '19850405',
 '19951026',
 '20150324',
 '20170805',
 '20170805',
 '20170805',
 '19951007',
 '19951007',
 '20040327',
 '20040327',
 '20040327',
 '20040327',
 '20040327',
 '20040327',
 '20040327',
 '1995052',
 '19970123',
 '20170814',
 '20170814',
 '20160421',
 '19860708',
 '19920604',
 '20060308',
 '2006033',
 '2006033',
 '20060308',
 '20180327',
 '1981033',
 '20120314',
 '20000705',
 '20000705',
 '20020405',
 '20020405',
 '20020405',
 '20020405',
 '20020405',
 '20030609',
 '20030609',
 '20150421',
 '20150421',
 '20140315',
 '20140307',
 '19901201',
 '19780508',
 '19980323',
 '19920429',
 '20020531',
 '20031021',
 '20020531',
 '1981033',
 '19831029',
 '20170809',
 '19890826',
 '20040902',
 '20180327',
 '20030201',
 '20030201',
 '1998082',
 '1998082',
 '1998082',
 '1998082',
 '2007021',
 '20051031',
 '20030609',
 '2012012',
 '2012012',
 '2012012',
 '2012012',
 '20120514',
 '20120514',
 '20120514',
 '20120514',
 '20071214',
 '1999102',
 '1999102',
 '19970715',
 '19970715',
 '19970715',
 '20161012',
 '20180118',
 '20161012',
 '19940509',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20171005T07:49',
 '20171005T07:52',
 '20070321',
 '20070321',
 '2016012',
 '20180208',
 '20180208',
 '2016012',
 '2016012',
 '19950215',
 '19740815',
 '20081201',
 '20081201',
 '20081201',
 '20081201',
 '19900621',
 '20160106',
 '20171031',
 '20170306',
 '20150922',
 '19930809',
 '20091101',
 '20091101',
 '20091101',
 '19980615',
 '20170912',
 '20170912',
 '20170912',
 '20170912',
 '20170912',
 '19961029',
 '19961029',
 '19961029',
 '19841027',
 '20000601',
 '20091101',
 '20091101',
 '20091101',
 '20091101',
 '20160309',
 '20160309',
 '20140511',
 '20170616',
 '20170616',
 '20161026',
 '19980518',
 '19980518',
 '19980518',
 '19980518',
 '20050118',
 '20050118',
 '20161116',
 '20161116',
 '20161116',
 '19980518',
 '19980518',
 '20170614',
 '19980423',
 '19980423',
 '19980423',
 '19980423',
 '19980513',
 '19980513',
 '19980513',
 '19970301',
 '19961114',
 '19961114',
 '19961114',
 '1999081',
 '19950218',
 '19931122',
 '20090702',
 '20090702',
 '20090702',
 '20170712',
 '20170712',
 '20170712',
 '19980504',
 '20000703',
 '20000703',
 '20091101',
 '20091101',
 '20091101',
 '20031006',
 '20031006',
 '19990608',
 '20071017',
 '20180317',
 '2015033',
 '2015033',
 '2015061',
 '2007121',
 '19801203',
 '20060906',
 '20130408',
 '19831029',
 '20171005T07:55',
 '20171005T07:58',
 '2004063',
 '20080118',
 '19830611',
 '20040722',
 '20040722',
 '20150405T11:46',
 '20150405T11:46',
 '20190107',
 '20170715',
 '20020214',
 '20171109',
 '20020214',
 '20020214',
 '20020214',
 '20020214',
 '20171109',
 '20020214',
 '20171109',
 '19910605',
 '19940719',
 '20051112',
 '2008112',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '20080819',
 '2006093',
 '19980217',
 '19980422',
 '20160105',
 '19910814',
 '2018122',
 '2018122',
 '19951118',
 '20070615',
 '19800724',
 '20040709',
 '20070507',
 '20080616',
 '20081212',
 '20070507',
 '20141224',
 '19970207',
 '20141219',
 '19930717',
 '19941004',
 '20110803',
 '19940509',
 '20090626',
 '20140308',
 '20161031',
 '19811121',
 '19951118',
 '20070321',
 '20070321',
 '20111206',
 '20070925',
 '20080605',
 '20080707',
 '19740802',
 '19740802',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '2018032',
 '19991117',
 '19980427',
 '19980427',
 '19980427',
 '19890323',
 '19870129',
 '19980504',
 '19980504',
 '2013052',
 '19900412',
 '19980223',
 '19920521',
 '20130523',
 '20000621',
 '19790321',
 '19981118',
 '19981118',
 '2008112',
 '20120614',
 '20160611T06:51',
 '20181015',
 '20171013T11:36',
 '19900411',
 '19970728',
 '20061026',
 '19740802',
 '20070301',
 '19970528',
 '19970528',
 '20140602',
 '20051214',
 '20141224',
 '20140118',
 '20180329',
 '2018031',
 '20000712',
 '20060803',
 '20000621',
 '20000621',
 '20000621',
 '20000621',
 '20000621',
 '20000621',
 '20000621',
 '20010127',
 '19990303',
 '20110314',
 '19980112',
 '20070307',
 '20171018',
 '19791101',
 '19910605',
 '1998052',
 '19950626',
 '19741022',
 '20051028',
 '20000325',
 '19970612',
 '19981228',
 '20020509',
 '19980116',
 '20000725',
 '19981118',
 '2008112',
 '19950916',
 '20150106',
 '20150106',
 '20080529',
 '20051214',
 '19910515',
 '1982091',
 '19900621',
 '19930816',
 '20000621',
 '20051119',
 '20101215',
 '20090702',
 '20090707',
 '20140206',
 '20001025',
 '20001025',
 '20090707',
 '19921031',
 '20090708',
 '19980427',
 '20080611',
 '20080611',
 '20080611',
 '20060311',
 '19950817',
 '20020425',
 '20020425',
 '20020425',
 '20020425',
 '20020425',
 '20180205',
 '20180205',
 '20060502',
 '20060906',
 '20060906',
 '20061021',
 '19950626',
 '19800724',
 '19900808',
 '20070507',
 '20180118',
 '19860208',
 '2013033',
 '20160913T07:32',
 '20170410T21:15',
 '20160913T07:32',
 '20170804T05:46',
 '20081118',
 '19921217',
 '19891205',
 '19980615',
 '19900205',
 '19741022',
 '20100121',
 '20121102',
 '19831029',
 '2018122',
 '2018122',
 '20050316',
 '20050316',
 '20050316',
 '20050316',
 '20030712',
 '2007021',
 '2009063',
 '2002052',
 '2002052',
 '20070507',
 '19980116',
 '20000621',
 '20000621',
 '19830305',
 '20030611',
 '19830205',
 '20180208',
 '19810307',
 '2007043',
 '19910515',
 '19881013',
 '20150106',
 '19980423',
 '19980423',
 '19920407',
 '19921217',
 '19870709',
 '20100108',
 '19970303',
 '2009063',
 '20040214',
 '19950815',
 '19921125',
 '20000623',
 '20000623',
 '20000819',
 '19900808',
 '19830305',
 '1982091',
 '20050819',
 '20160909',
 '20030728',
 '20030322',
 '19800724',
 '20130523',
 '19980615',
 '20030728',
 '20110302',
 '19961023',
 '19961023',
 '19961023',
 '2007043',
 '20141106',
 '20160203T08:23',
 '20070507',
 '20110311',
 '19900621',
 '19930603',
 '20160224',
 '20080101',
 '20060311',
 '1999102',
 '20060311',
 '20040101',
 '20000129',
 '20000129',
 '20110706',
 '20091217',
 '19960628',
 '19960628',
 '20010323',
 '20010323',
 '20010323',
 '2009071',
 '20010323',
 '20040228',
 '19980518',
 '19980518',
 '19980518',
 '19980518',
 '19980518',
 '19980518',
 '19980518',
 '19970922',
 '19970922',
 '19980217',
 '20020502',
 '19980513',
 '19980513',
 '19980513',
 '20060112',
 '20060112',
 '20171005T16:38',
 '20171005T16:23',
 '19920506',
 '20000621',
 '20000621',
 '20000621',
 '19990106',
 '19980615',
 '19980615',
 '19980615',
 '20151229',
 '20151229',
 '20081117',
 '19980518',
 '19980518',
 '19950107',
 '19950107',
 '19950107',
 '19950107',
 '19950107',
 '19890324',
 '20160201',
 '20150109',
 '19851113',
 '19910109',
 '20091112',
 '20000626',
 '20000626',
 '19980325',
 '20190601',
 '19910605',
 '19980116',
 '19920407',
 '19831029',
 '20080721',
 '19970306',
 '19840825',
 '19981228',
 '1989011',
 '19741022',
 '19910605',
 '20110803',
 '19890724',
 '20071214',
 '19890724',
 '20171214',
 '19811121',
 '19970508',
 '20180118',
 '19940813',
 '20070507',
 '19821102',
 '20080701',
 '20080711',
 '20080711',
 '20080711',
 '20080711',
 '19951007',
 '19960518',
 '19980116',
 '20030403',
 '20030403',
 '19810307',
 '20090707',
 '20060525',
 '19980128',
 '19800724',
 '20110902',
 '19900808',
 '20001021',
 '20001021',
 '20000729',
 '20000729',
 '2018122',
 '2018122',
 '2018122',
 '2018122',
 '2018122',
 '2018122',
 '19940806',
 '20000721',
 '20000721',
 '19900413',
 '20081114',
 '20171013T10:37',
 '19910605',
 '19820105',
 '19831029',
 '19921217',
 '19871006',
 '20020112',
 '20130921',
 '20051112',
 '20130921',
 '20130921',
 '2018051',
 '19931018',
 '20000712',
 '20050722',
 '20120104',
 '19910605',
 '2008112',
 '20031108',
 '2013112',
 '19961101',
 '1994011',
 '20060316',
 '20141222',
 '1992061',
 '20040811',
 '1998082',
 '1998082',
 '1998082',
 '1998082',
 '19950626',
 '19950626',
 '19950626',
 '1993031',
 '20150324',
 '20140315',
 '20070507',
 '19930916',
 '19980213',
 '19980727',
 '2013112',
 '19980529',
 '20160225T08:08',
 '20141107T11:22',
 '20130523',
 '20060308',
 '19920506',
 '19920506',
 '19920506',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '20120316',
 '1981033',
 '19950429',
 '19891209',
 '19860208',
 '19980819',
 '20060602',
 '20060331',
 '20060331',
 '19940516',
 '19990203',
 '2002013',
 '2002013',
 '2002013',
 '2002013',
 '2002013',
 '2002013',
 '20180329',
 '20020509',
 '20020509',
 '20020509',
 '20020509',
 '20020509',
 '20080422',
 '20170410T21:29',
 '19770208',
 '20120316',
 '20080214',
 '20070413',
 '20070413',
 '20070413',
 '20070413',
 '19951021',
 '20110907',
 '20110907',
 '20110907',
 '20110907',
 '20110907',
 '20110907',
 '20110907',
 '20070803',
 '20070803',
 '20081016',
 '1995093',
 '20060309',
 '19950823',
 '1993052',
 '20110623',
 '19930809',
 '20020425',
 '20020425',
 '19970729',
 '19970729',
 '19901207',
 '20090708',
 '20000621',
 '19980518',
 '19980518',
 '20080805',
 '20080805',
 '20110812',
 '20110812',
 '19980427',
 '2004022',
 '19970603',
 '20060311',
 '20080529',
 '20040212',
 '19930316',
 '19930316',
 '2009121',
 '20110224',
 '20110224',
 '19981119',
 '2008112',
 '19831029',
 '19980223',
 '19980128',
 '19800724',
 '1990103',
 '2007043',
 '20061102',
 '19881118',
 '1981033',
 '20171227T15:46',
 '1998103',
 '20140611',
 '19970207',
 '19560905',
 '19560905',
 '19560905',
 '19560905',
 '19981001',
 '19940806',
 '20130119',
 '19980423',
 '19840825',
 '20151202',
 '20171005T08:02',
 '20070626',
 '20061102',
 '20171013T11:13',
 '19991213',
 '2008022',
 '2008022',
 '19980706',
 '19990625',
 '19940423',
 '19930809',
 '19891103',
 '20140611',
 '19900305',
 '20160608',
 '19891201',
 '19980217',
 '19980217',
 '19980321',
 '19980217',
 '20021005',
 '19950404',
 '20141222',
 '19920727',
 '1981033',
 '19980629',
 '20150227',
 '2007043',
 '19980121',
 '19920608',
 '19830305',
 '19811124',
 '19980826',
 '19831029',
 '2000062',
 '19870413',
 '20141103',
 '20141103',
 '20141103',
 '20190601',
 '20081007',
 '20190513',
 '20190513',
 '20190513',
 '20190513',
 '1991022',
 '20031125',
 '20010423',
 '2008112',
 '2008112',
 '20151024T09:36',
 '19970728',
 '20160609T06:57',
 '20000323',
 '20031108',
 '20120522',
 '20180602',
 '20150218',
 '20150218',
 ...]

In [12]:
# Add the hyphen-less date back to the dataframe
cleanDate['PlantYear'] = yearPlanted
cleanDate.head()

C:\Users\mahlo\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Tree ID,Species,Latitude,Longitude,Date Planted,PlantYear
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016-02-24,20160224
9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.7392189485182,-122.377869364283,1997-05-16,19970516
14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31,20121231
15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31,20121231
16,12977,Maytenus boaria :: Mayten,37.7699053099025,-122.436179442539,1990-03-26,19900326

In [13]:
# Pull the year from PlantYear into a new column
cleanDate['Year'] = cleanDate['PlantYear'].astype(str).str[0] + cleanDate['PlantYear'].astype(str).str[1] + cleanDate['PlantYear'].astype(str).str[2] + cleanDate['PlantYear'].astype(str).str[3]
cleanDate

C:\Users\mahlo\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Tree ID,Species,Latitude,Longitude,Date Planted,PlantYear,Year
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016-02-24,20160224,2016
9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.7392189485182,-122.377869364283,1997-05-16,19970516,1997
14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31,20121231,2012
15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012-12-31,20121231,2012
16,12977,Maytenus boaria :: Mayten,37.7699053099025,-122.436179442539,1990-03-26,19900326,1990
...,...,...,...,...,...,...,...
192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.7690249659747,-122.437947368595,2007-05-17,20070517,2007
192485,34308,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14,19970714,1997
192507,34317,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997-07-14,19970714,1997
192528,45381,Lophostemon confertus :: Brisbane Box,37.7928819736725,-122.480907237859,2001-07-06,20010706,2001
192538,93931,Pinus Spp :: Pine Spp,37.7207489795508,-122.475342064841,2010-04-28,20100428,2010

In [14]:
cleanDate = cleanDate.drop(['Date Planted', 'PlantYear'], axis=1)
cleanDate

,Tree ID,Species,Latitude,Longitude,Year
2,115737,Acer rubrum :: Red Maple,37.7377517864641,-122.46449593033,2016
9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.7392189485182,-122.377869364283,1997
14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012
15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.7615584024391,-122.440978567809,2012
16,12977,Maytenus boaria :: Mayten,37.7699053099025,-122.436179442539,1990
...,...,...,...,...,...
192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.7690249659747,-122.437947368595,2007
192485,34308,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997
192507,34317,Jacaranda mimosifolia :: Jacaranda,37.7500487659499,-122.402814623369,1997
192528,45381,Lophostemon confertus :: Brisbane Box,37.7928819736725,-122.480907237859,2001
192538,93931,Pinus Spp :: Pine Spp,37.7207489795508,-122.475342064841,2010

In [15]:
# Output the data to CSV
cleanDate.to_csv("Source CSVs/SF_Trees.csv")
print("Output Complete")

Output Complete